
/* Category CSS */
.cate_select{padding:4px 10px;}
.cate_select .select_cate {float:right;}
.cate_select .select_post {float:left; color:#888;}
.cate_select .cnt {color:orangered;font-family:tahoma;font-weight:bold}